@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.input_wrapper {
    font-family: 'Roboto', sans-serif;
    width: 850px;
    border-radius: 30px;
    height: 50px;
    padding: 7px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(4px);
    font-size: 15px;
    /* Размытие фона и градиент */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    /* Внутренняя тень */
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    /* Вы можете изменить толщину границы по желанию */
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
    border-image-slice: 1;

    #search_icon {
        padding: 5px;
        width: 2.5vh;
        height: 2.5vh;
    }

    input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.25rem;
        width: 100%;
        margin-left: 5px;
    }

    input:focus {
        outline: none;
    }
}