@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

%customFunction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  @extend %customFunction;
  width: 100vw;
  height: 12.5em;
  position: relative;
  top: 0;
  padding-top: 1em;
  z-index: 2;
  display: flex;
  padding-top: 10vh;


  .city {
    color: rgba(52, 114, 170, 1);
    height: 3.125em;
    width: 6.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    backdrop-filter: blur(4px);
    font-size: 1.25rem;
    /* Размытие фона и градиент */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    /* Внутренняя тень */
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    /* Вы можете изменить толщину границы по желанию */
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
    border-image-slice: 1;
    border-radius: 30px;
  }
}

.main_wrapper {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 0.70fr 0.75fr;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.weather_icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 10px 10px;
}

//next_days

.next_days_wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 20em;
  height: 37.875em;
  margin: 1.25em;
  text-align: center;
  padding: 1.25em;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
  border-image-slice: 1;


  @media (min-width: 768px) {
    width: 20em;
    height: 37.875em;
  }

  @media (min-width: 1024px) {
    width: 20em;
    height: 37.875em;
  }
}

// current_days 


.current_day_wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 55em;
  height: 37.875em;
  margin: 1.25em;
  text-align: center;
  padding: 1.25em;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
  border-image-slice: 1;

}






