@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

%customFunction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  @extend %customFunction;
  width: 100vw;
  height: 12.5em;
  position: relative;
  top: 0;
  padding-top: 1em;
  z-index: 2;
  display: flex;
  padding-top: 10vh;


  .city {
    color: rgba(52, 114, 170, 1);
    height: 2.95em;
    width: 8.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    backdrop-filter: blur(4px);
    font-size: 1.25rem;
    /* Размытие фона и градиент */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    /* Внутренняя тень */
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    /* Вы можете изменить толщину границы по желанию */
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
    border-image-slice: 1;
    border-radius: 30px;
  }
}

.main_wrapper {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 0.65fr 0.75fr;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main_wrapper .current_info {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 0.5s forwards;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 3s ease-in-out;
}

.background-video.fade-in {
  opacity: 1;
}

.background-video.fade-out {
  opacity: 0;
}

.weather_icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 10px 10px;
}

.next_info_no_data {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  width: 22.5em;
  height: 30.875em;
  margin: 1.25em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 1.25em;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
  border-image-slice: 1;

}

.no_data_text {
  color: #3424b1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.current_day_wrapper_no_data {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 55em;
  height: 30.875em;
  margin: 1.25em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 1.25em;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
  border-image-slice: 1;
}

.button_account{
  margin-left: 15px;
}

.round_button2 {
  width: 3.688em;
  height: 3.688em;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 7px;
  border: none;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
}

@media (max-width: 400px) {
  .current_day_wrapper_no_data {
    width: 20.5em;
    height: 40vh;
  }
  .next_info_no_data {
    width: 20.5em;
    height: 40vh;
  }
}

