@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.current_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 51.25em;
    height: 9.5em;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(20px);
    background: linear-gradient(180deg, rgba(52, 114, 170, 0.16) 0%, rgba(52, 114, 170, 0.1) 100%);
    margin-bottom: 1.25em;
}

.info_titles,
.info_values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.round_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 5px;
    border: none;
}

.current_temp {
    margin-top: 20px;
    font-size: 24px;
}

.current_info_title {
    font-size: 22px;
    color: #4287C7;
    font-weight: bold;
    padding: 5px;
}