@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.current_day_wrapper {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 55em;
    height: 30.875em;
    margin: 1.25em;
    text-align: center;
    padding: 1.25em;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(4px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #B4C5D8 48%, rgba(255, 255, 255, 0.30) 100%);
    border-image-slice: 1;
}

.current_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 51.25em;
    height: 9.5em;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(20px);
    background: linear-gradient(180deg, rgba(52, 114, 170, 0.16) 0%, rgba(52, 114, 170, 0.1) 100%);
    margin-bottom: 1.25em;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 1s forwards;
}

.block-show {
    opacity: 1;
}


.info_titles,
.info_values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.round_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 5px;
    border: none;
}



.current_temp {
    margin-top: 2pt;
    font-size: 24px;
}

.current_info_title {
    font-size: 22px;
    color: #4287C7;
    font-weight: bold;
    padding: 5px;
}


@media (max-width: 400px) {
    .current_day_wrapper {
        width: 20.5em;
        height: 40vh;
    }

    .current_info {
        width: 18.75em;
        height: 7em;
    }

    .info_titles {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .info_section {
        display: flex;
        flex-direction: row;

    }

    .current_temp {
        color: #4287C7;
        margin-left: 20px;
    }

    .button_section {
        position: absolute;
        margin-top: 50px;
        margin-left: 250px;
    }
}

@media (min-height: 1100px) {
    .current_day_wrapper {
        height: 40em;
    }
}