@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.next_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.75em;
  height: 7em;
  margin-bottom: 1.25em;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position:relative;
  z-index: 1;
  backdrop-filter: blur(20px);
  background: linear-gradient(180deg, rgba(52, 114, 170, 0.16) 0%, rgba(52, 114, 170, 0.1) 100%);
}

.info_text {
  margin-left: 10px;
}

.next_info_date {
  font-size: 22px;
  color: #4287C7;
  font-weight: bold;
  padding: 5px;
}

.next_temp {
  font-size: 28px;
}