@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.login-container {
    width: 36.875em;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    border-width: 15px;
    border-image: linear-gradient(25deg, rgba(255, 255, 255, 0.30) 5%, #c0c9d3 48%, rgba(255, 255, 255, 0.30) 85%);
    border-image-slice: 1;
    clip-path: inset(0 round 10px); // обрезает элемент по границам, сохраняя скругление
}

.title {
    font-size: 36px;
    margin-top: 30px;
    color: #3472AA;
    font-weight: bold;
}

.instructions {
    font-size: 20px;
    margin-top: 20px;
}

.input-group {
    margin-top: 30px;
}

.login-container input {
    width: 430px;
    height: 54px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    backdrop-filter: blur(4px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: inset 8px 8px 9px rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-image: linear-gradient(25deg, rgba(255, 255, 255, 0.30) 5%, #c0c9d3 48%, rgba(255, 255, 255, 0.30) 85%);
    border-image-slice: 1;
    clip-path: inset(0 round 10px); // обрезает элемент по границам, сохраняя скругление
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
  }

input.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
}

.login-button {
    margin-top: 10px;
    width: 132px;
    height: 51px;
    padding: 10px;
    background-color: #4287C7;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.register-prompt {
    margin-top: 20px;
}

.inciting-text {
    color: #4287C7;
    cursor: pointer;
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -3;
    /* Ниже, чем z-index контейнера входа */
}

input:focus {
    outline: none;
}